<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string></string>
	<key>contactName</key>
	<string>AstonJ</string>
	<key>description</key>
	<string>Elixify theme by @astonj for http://elixirforum.com</string>
	<key>name</key>
	<string>Elixify</string>
	<key>uuid</key>
	<string>CE7452AB-BA3A-4217-B1C3-E2F1E5AD3B18</string>
</dict>
</plist>
