<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string></string>
	<key>contactName</key>
	<string>Aston Jay</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>CodeSchool</string>
	<key>uuid</key>
	<string>262E779A-B805-4073-93C4-8C2AFC35C48B</string>
</dict>
</plist>
